.purchase-wrapper {
  height: 100%;
  margin: 0 auto;
}

.purchase-table-wrapper {
  margin: 0 auto;
}
.purchase-table {
  width: 70%;
  text-align: center;
  border: 1px solid #fff;
  border-spacing: 1px;
  margin: auto;
  margin-top: 40px;
  word-break: break-all;
}
.purchase-table th {
  font-weight: bold;
}
.purchase-table td {
  padding: 10px;
  background-color: #eee;
}
.purchase-table th {
  background-color: rgb(175, 196, 238);
  color: #000;
  padding: 10px;
}
.purchase-table img {
  width: 180px;
  height: 180px;
}
.down-button,
.up-button,
.purchase-now {
  height: 28px;
  border: none;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
}
.down-button {
  width: 27%;

  background-color: #03a9f4;
  margin-bottom: 4px;
}
.up-button {
  margin: 0 5px;
  width: 27%;
  background-color: #e91e63;
}

.purchase-now {
  background-color: rgb(175, 196, 238);
}

.purchase-now:hover,
.down-button:hover,
.up-button:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}
.purchase-table .tablefoot {
  padding: 0;
  border-bottom: 3px solid rgb(175, 196, 238);
}
