@font-face {
  font-family: "Hangeuljaemin4-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Hangeuljaemin4-Regular.woff2")
  format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "KOTRAHOPE";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2")
  format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Ramche";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2")
  format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*@import url("https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Orbit&display=swap");
* {
  font-family: "Ramche", serif;
  !* font-family: "Orbit", sans-serif; *!
}*/

/* 전체 초기화 */
body,
html {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}
main {
  flex: 1;
}
footer {
  margin-top: 30px;
  bottom: 0;
}

/* 헤더 */

/* 로그인 안했을시 헤더 // 보여지고 싶으면 display : flex 안보여줄건 none */

#header-container,#header-container-with-login,#header-container-with-manager-login {
  background-color: rgb(175, 196, 238);
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
  align-items: center;
}
.go-home,
#header-container-with-manager-login  a {
  text-decoration: none;
  color: black;
}
.header a:hover {
  font-weight: bold;
}

.header-menu a:hover,
.header-menu a:focus {
  font-weight: bold;
  outline: none;
}

.header-menu a {
  color: black;
  padding: 15px 25px;
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.header-menu a:after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ddddff;
  content: "";
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

.header-menu a:hover:after,
.header-menu a:focus:after {
  height: 5px;
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}

/* 푸터 */
.footer-container {
  bottom: 0; /* 페이지의 하단에 위치하도록 지정 */
  background-color: rgb(175, 196, 238);
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-container h5 {
  font-size: 10px;
}

button:hover {
  font-weight: bold;
}
