<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">
	<servlet>
		<description></description>
		<display-name>MemberController</display-name>
		<servlet-name>MemberController</servlet-name>
		<servlet-class>controller.MemberController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MemberController</servlet-name>
		<url-pattern>/member</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ProductController</display-name>
		<servlet-name>ProductController</servlet-name>
		<servlet-class>controller.ProductController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductController</servlet-name>
		<url-pattern>/product</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BasketController</display-name>
		<servlet-name>BasketController</servlet-name>
		<servlet-class>controller.BasketController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BasketController</servlet-name>
		<url-pattern>/basket</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>PurchaseController</display-name>
		<servlet-name>PurchaseController</servlet-name>
		<servlet-class>controller.PurchaseController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PurchaseController</servlet-name>
		<url-pattern>/purchase</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ReplyController</display-name>
		<servlet-name>ReplyController</servlet-name>
		<servlet-class>controller.ReplyController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReplyController</servlet-name>
		<url-pattern>/reply</url-pattern>
	</servlet-mapping>
</web-app>